<div class="wrapper">
  <div class="logo-wrapper">
    <img class="logo-picture" src="/assets/pictures/logo.svg">
    <div>
      <h1>Prietenii Muntilor</h1>
    </div>
  </div>
  <nav class="nav-wrapper">
    <div class="nav-item">
      <span>ACASA</span>
    </div>
    <div class="nav-item">
      <span>EVENIMENTE</span>
    </div>
    <div class="nav-item">
      <span>GALERIE</span>
    </div>
    <div class="nav-item">
      <span>ORGANIZARE</span>
    </div>
    <div class="nav-item">
      <span>CONTACT</span>
    </div>
  </nav>
</div>