.wrapper {
  display: flex;
  flex-direction: row;

  //background: linear-gradient(90deg, rgba(0,58,115,1) 0%, rgba(0,77,152,1) 49%, rgba(0,127,153,1) 100%);
  //background: rgb(36,57,78);
  background: linear-gradient(90deg, rgba(36,57,78,1) 0%, rgba(21,54,85,1) 49%, rgba(0,127,153,1) 100%);
  //color: white;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo-picture {
    margin-left: 2vw;
    margin-right: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;

    display: block;
    max-height: 70px;
    width: auto;
    height: auto;
  }
}

.nav-wrapper {
  flex-grow: 1;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item-wrapper {
  flex-grow: 1;
  .nav-item {
    font-weight: 1000;
    //text-transform: uppercase;
    &:hover {
      //text-decoration: underline;
      font-size: larger;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav-item {
    font-weight: 500;
    font-size: smaller;
  }
}

@media screen and (max-width: 870px) {
  .nav-item {
    font-weight: 500;
    font-size: small;
  }
}

@media screen and (max-width: 770px) {
  .nav-item-wrapper {
    display: none;
  }
}