<h2>Despre noi</h2>
<p>
  Ne-am înfiinţat în septembrie 1977 şi am funcţionat pe lângă Uniunea Generală a Sindicatelor din România până în ianuarie 1991 când am dobândit personalitate juridică ca organizaţie neguvernamentală.
</p>
<p>
  Avem în proprietate pe muntele Semenic o cabană cu o capacitate de 60 locuri şi în folosinţă un teleschi pe pârtia „Special” (cea mai abruptă de pe Semenic, circa 30 grade) realizat în regie proprie în anul 1983, cu o lungime de 350 m.
</p>

<div class="buttons-wrapper">
  <app-big-button content="Mai mult..." (click)="navigateTo('about')"></app-big-button>
</div>

<br>

<h2>Evenimente</h2>
<p>
  Momentan lucram la planificarea urmatoarelor evenimente.
</p>

<div class="buttons-wrapper">
  <app-big-button content="Mai mult..."  (click)="navigateTo('events')"></app-big-button>
</div>