.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  //background-image: url("/assets/pictures/background.jpg");
  background: url(/assets/pictures/background4.png) repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  padding: 10px;
  flex-grow: 1;
  //background-color: red;
  background: rgba(36, 57, 78, 0.75);
}

@media screen and (max-width: 1024px) {
  .content {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vh;
  }
}

@media screen and (max-width: 800px) {
  .content {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
  }
}