.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  //background-image: url("/assets/pictures/background.jpg");
  background: url(/assets/pictures/background3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  flex-grow: 1;
  //background-color: red;
  background: rgba(36, 57, 78, 0.75);
}