<h2>Despre noi</h2>
<p>
  Ne-am înfiinţat în septembrie 1977 şi am funcţionat pe lângă Uniunea Generală a Sindicatelor din România până în ianuarie 1991 când am dobândit personalitate juridică, ca organizaţie neguvernamentală.
</p>
<p>
  Avem în proprietate pe muntele Semenic o cabană cu o capacitate de 60 locuri şi în folosinţă un teleschi pe pârtia „Special”(cea mai abruptă de pe Semenic, circa 30 grade), realizat în regie proprie în anul 1983, cu o lungime de 350 m.
</p>
<p>
  Sediul nostru este în Reşiţa, str. Pictor Andreescu nr. 16.
</p>

<hr>

<h2>Obiectivele noastre</h2>
<p>
  Promovarea practicării turismului montan şi a sporturilor de iarnă, educarea tinerilor în spiritul practicării unui turism civilizat, dobândirea de cunoştinţe despre natură şi ocrotirea ei, deschiderea şi întreţinerea traseelor turistice.
</p>
<h4 class="inner">Obiective:</h4>
<ul class="list-group inner">
  <li *ngFor="let activity of activities" class="list-group-item">{{ activity }}</li>
</ul>
<p class="inner">
  *Aceste obiective se încearcă a se realiza cu o echipă de peste 250 persoane din toată ţara.
</p>

<hr>

<h2>Cupa Prietenii Muntilor</h2>
<p>
  Este o competiţie ce a fost iniţiată cu mulţi ani în urmă şi este deschisă tuturor iubitorilor de schi,fete şi băieţi, dornici sa-şi demonstreze valoarea într-o competiţie fără limită de vârstă.
  Concursul se desfăşoară în masivul Semenic, pe pârtiile Special, Crucea de Brazi şi Uriaş în mai multe etape de slalom special, slalom uriaş şi combinată, în cadrul grupelor de vârsta şi anume:
</p>
<ul class="list-group inner">
  <li class="list-group-item">Grupa începători ( fete şi băieţi ) unde participă toţi schiorii care se pot ţine cât de cât pe schiuri</li>
  <li class="list-group-item">Grupa copii sub 10 ani ( fete şi băieţi ) unde participă toţi schiorii mai mici de 10 ani si care pe parcursul anului împlinesc 10 ani</li>
  <li class="list-group-item">Grupa juniori mici ( fete şi băieţi ) unde participă toţi schiorii cu varsta intre 11-14 ani inclusiv ,impliniti pe parcursul anului competiţional</li>
  <li class="list-group-item">Grupa juniori mari ( fete şi băieţi ) unde participă toţi schiorii cu varsta intre 15-18 ani inclusiv impliniti pe parcursul anului competiţional</li>
  <li class="list-group-item">Grupa Open ( fete şi băieţi ) unde competitorii sunt fără limită de vârstă</li>
</ul>
<br>
<p>
  O etapa se desfasoara in una sau doua manse.
  Clasamentul se face in ordine crescatoare a timpilor. Daca s-a desfasurat o singura mansa se ia in considerare acel timp; daca se desfasoara doua manse timpul final este dat de suma celor doua manse. Se acorda puncte in functie de locul ocupat in etapa, astfel:
</p>
<ul class="list-group inner">
  <li class="list-group-item">loc 1 : 10 puncte</li>
  <li class="list-group-item">loc 2 : 8 puncte</li>
  <li class="list-group-item">loc 3 : 6 puncte</li>
  <li class="list-group-item">loc 4 : 5 puncte</li>
  <li class="list-group-item">loc 5 : 4 puncte</li>
  <li class="list-group-item">loc 6 : 3 puncte</li>
  <li class="list-group-item">loc 7 : 2 puncte</li>
  <li class="list-group-item">loc 8 : 1 punct</li>
</ul>
<br>
<p>
  Daca se rateaza o poarta, concurentul nu este descalificat si intra la coada clasamentului dupa ultimul concurent viabil. Acesti concurenti primesc cate 1 punct daca sunt in primii 8, insa doar in clasamentul pe grupe de varsta nu si in clasamentul Open.
  Nu pot participa la grupele de varsta, copiii legitimati la cluburi de schi, ce practica schiul de performanta, acestia putand participa doar la categoria Open.
  Câştigătorii grupei Open atât la fete cât şi la băieţi vor primi cupa transmisibilă Prietenii Munţilor pe care o vor deţine timp de un an iar numele acestora va fi inscripţionat pe una din plăcuţele dispuse pe soclul acesteia .
  Câştigătorilor le sunt acordate cupe, medalii şi premii în obiecte.
</p>