body {
  margin: 0;
  color: white;
  font-family: 'Lato', sans-serif;
  //font-family: 'Montserrat', sans-serif;
  //font-family: 'Raleway', sans-serif;
  font-weight: 500;
  //font-size: large;
}

.pointer {
  cursor: pointer;
}

.list-group-item {
  background-color: transparent;
}

.card {
  background-color: transparent;
}